
html {
   font-family: Arial, Helvetica, sans-serif;
}
.column, .title {
    float: left;
    padding: 3px;
    overflow-y: visible;
    text-align: center;
}

.clues {
    float: left;
    padding: 3px;
    overflow-y: hidden;
    text-align: left;
    font-size: 18px;
    font-family: Arial;
}

hr {
    margin: 0;
    border-width:0;
    height: 2px;
    background-color: #e5e5e5;
}

.puzzle, .clues {
    position: relative;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#gridCanvas, #textCanvas, #numberCanvas {
    position:absolute; top:0px; left:0px;
}

#acrossclue, #downclue {
    text-align: left;
    overflow-y: auto;
    font-size: 18px;
    font-family: Arial;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 3px;
}

.input {
    background-color: #bfe5ff;
    outline: 2px dashed black;
    outline-offset: -10px;
    width: 500px;
    height: 310px;
    position: relative;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__input {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input.dragover {
    background-color: #fae522;
    outline-offset: -15px;
}

.input.uploaded {
    display: hidden;
    visibility: hidden;
}
