/*html, body {
  height: 100%;
  width: 100%;
}*/
div.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.column {
  float: left;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}

.clues {
  width: 15%;
}

.puzzle {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}