/*html, body {
  height: 100%;
  width: 100%;
}*/
div.clues {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}